@(implicit request: controllers.AuthenticatedRequest[AnyContent], record: deployment.DeployRecord)

@main("Debug Viewer", request) {
<h2>Table of messages for @record.uuid</h2>

<p>@record.parameters</p>

<p>@record.metaData.toString</p>

    <span>
    @helper.form(action=routes.Testing.actionUUID(), 'class -> "modal-form") {
        <input type="hidden" name="uuid" value="@record.uuid"/>
        <button name="action" type="submit" value="deleteV2" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash glyphicon glyphicon-white"></i> Delete</button>
        @if(!record.isSummarised){<button name="action" type="submit" value="summarise" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-resize-small glyphicon glyphicon-white"></i> Summarise</button>}
    }
    </span>

    <table class="table table-condensed">
    <thead>
        <tr>
            <th>Time</th>
            <th>Message ID</th>
            <th>Parent Message ID</th>
            <th>Level</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
  @record.messages.map { message =>
    <tr>
        <td>@message.stack.time</td>
        <td>@message.messageId</td>
        <td>@message.context.parentId</td>
        <td>@message.stack.messages.size</td>
        <td>@for( x <- 1 to message.stack.messages.size) { &nbsp; &nbsp; }
        @message.stack.messages.head</td>
    </tr>
  }
    </tbody>
</table>
}