@import conf.Config
@(testForm: Form[controllers.Testing.TestForm])(config: Config, menu: Menu)(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], messages: Messages)
@import b3.vertical.fieldConstructor
@import helper.CSRF

@main("Test form", request) {
    <h2>Test form</h2>

    @b3.form(action=routes.Testing.formPost) {
        @CSRF.formField

        @b3.text(testForm("project"))
        <input type="checkbox" name="hosts[0]" value="bob" checked="true"/>bob</span>
        <input type="checkbox" name="hosts[1]" value="larry" checked="true"/>larry</span>

        <div class="actions">
            <button name="action" type="submit" value="preview" class="btn btn-primary">Preview...</button> or
            <button name="action" type="submit" value="deploy" class="btn btn-danger">Deploy Now</button> or
            <a href="@routes.Application.index()" class="btn btn-danger">Cancel</a>
        </div>
    }
}(config, menu)