@(request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], deploys:Seq[controllers.SimpleDeployDetail])
@import helper.twitterBootstrap._

@main("UUID list", request) {

  <h2>UUID list</h2>

 <p>This page is to help troubleshoot database problems when it isn't possible to use normal pages
 for troubleshooting.  The list below is the set of UUIDs in the deploy collection - individual deploys can be deleted.</p>

  <table class="table table-condensed">
      <thead>
          <tr>
              <th>Date/Time</th>
              <th>UUID</th>
              <th>View</th>
              <th>Location</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          @deploys.map { deploy =>
            <tr>
              <td>@deploy.time</td>
              <td>@deploy.uuid</td>
              <td>
                    <a href="@routes.DeployController.viewUUID(deploy.uuid.toString)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-search"></i> View Log</a>
                    <a href="@routes.Testing.debugLogViewer(deploy.uuid.toString)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-search"></i> View Debug Log</a>
              </td>
              <td>V2</td>
              <td>
                <span>
                @helper.form(action=routes.Testing.actionUUID(), 'class -> "modal-form") {
                    <input type="hidden" name="uuid" value="@deploy.uuid"/>
                    <button name="action" type="submit" value="deleteV2" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash glyphicon glyphicon-white"></i> V2</button>
                    <button name="action" type="submit" value="addStringUUID" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-wrench glyphicon glyphicon-white"></i> Add String UUID</button>
                    <button name="action" type="submit" value="summarise" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-resize-small glyphicon glyphicon-white"></i> Summarise</button>
                }
                </span>
              </td>
            </tr>
          }
      </tbody>
  </table>

}
