@(request: controllers.AuthenticatedRequest[AnyContent], hookForm: Form[controllers.HookForm])
@import helper.twitterBootstrap._

@main("Create Post Deploy Hook", request) {

<h2>Create Post Deploy Hook</h2>
<hr/>

@helper.form(action=routes.Hooks.save) {

@snippets.inputHidden(hookForm("id"))

@helper.inputText(hookForm("projectName"), 'id -> "projectInput", Symbol("data-url") -> "/deployment/request/autoComplete/project", '_label -> "Project Name", 'class -> "buildForm")
@helper.select(
hookForm("stage"),
options = helper.options(resources.LookupSelector().stages.toList),
'_default -> "--- Choose a stage ---",
'_label -> "Stage",
'_error -> hookForm.globalError.map(_.withMessage("Please select deployment stage"))
)
@helper.inputText(hookForm("url"), '_label -> "Hook target URL (GET)", 'class -> "buildForm")
@helper.checkbox(hookForm("enabled"), '_label -> "Hook Enabled")

<div class="actions">
    <button name="action" type="submit" value="save" class="btn btn-primary">Save</button> or
    <a href="@routes.Hooks.list()" class="btn btn-warning">Cancel</a>
</div>
}
<script type="text/javascript">
    var selectedProject = ''
    $('#projectInput').each( function() {
        var $input = $(this);
        var $project = ''
        var serverUrl = $input.data('url');
        $input.autocomplete({
            source:serverUrl,
            minLength:0
        });
    });
    $('#projectInput').blur( function(e) {
        selectedProject = encodeURIComponent($(e.target).val())
    })
</script>

}