@(hookForm: Form[controllers.HookForm], prismLookup: resources.PrismLookup)(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], messages: Messages)
@import b3.vertical.fieldConstructor
@import helper.CSRF

@main("Create Post Deploy Hook", request) {

    <h2>Create Post Deploy Hook</h2>
    <hr/>

    <div class="row">
        <div class="col-md-7">
            @b3.form(action=routes.Hooks.save) {
            @CSRF.formField

            @snippets.inputHidden(hookForm("id"))

            @b3.text(hookForm("projectName"), 'id -> "projectInput", Symbol("data-url") -> "/deployment/request/autoComplete/project", '_label -> "Project Name")
            @b3.select(
            hookForm("stage"),
            options = helper.options(prismLookup.stages.toList),
            '_default -> "--- Choose a stage ---",
            '_label -> "Stage",
            '_error -> hookForm.globalError.map(_.withMessage("Please select deployment stage"))
            )
            @b3.text(hookForm("url"), '_label -> "Hook target URL")
            @b3.select(
                hookForm("method"),
                options = helper.options(notification.HttpMethod.all.map(_.serialised)),
                '_label -> "HTTP Method",
                '_error -> hookForm.globalError.map(_.withMessage("Please select HTTP method"))
            )
            @b3.textarea(hookForm("postBody"), '_label -> "Body to be POSTed",
                'cols -> 100, 'rows -> 6)

            @b3.checkbox(hookForm("enabled"), '_label -> "Hook Enabled")

            <div class="actions">
                <button name="action" type="submit" value="save" class="btn btn-primary">Save</button> or
                <a href="@routes.Hooks.list()" class="btn btn-danger">Cancel</a>
            </div>
        </div>

        <div class="col-md-5">
            <p class="lead">If the following tokens appear in the target URL or POST body, they will be replaced
                with details of the deploy that triggered the hook:</p>
            <ol class="list-inline">
                @for(param <- notification.HookTemplate.paramSubstitutions.keys.toSeq.sorted){
                    <li><code>%deploy.@param%</code></li>
                }
                <li>or <code>%deploy.tag.<i>tagName</i>%</code> where tagName is any tag applied to the build</li>
            </ol>
        </div>
    </div>
}
<script type="text/javascript">
    var selectedProject = ''
    $('#projectInput').each( function() {
        var $input = $(this);
        var $project = ''
        var serverUrl = $input.data('url');
        $input.autocomplete({
            source:serverUrl,
            minLength:0
        });
    });
    $('#projectInput').blur( function(e) {
        selectedProject = encodeURIComponent($(e.target).val())
    })
</script>

}