@(implicit request: controllers.AuthenticatedRequest[AnyContent], hooks: Seq[notification.HookConfig])
@import org.joda.time.format.DateTimeFormat._

@main("Post Deploy Hooks", request) {
<h2>Post Deploy Hooks</h2>
<hr/>
<p><a class="btn btn-warning" href="@routes.Hooks.form()"><i class="glyphicon glyphicon-plus glyphicon glyphicon-white"></i> Add new hook</a></p>
<div class="content">
    @if(hooks.isEmpty) {
        <div class="alert alert-warning"><strong>No deploy hooks.</strong></div>
    } else {
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Last edited</th>
                <th>Project Name</th>
                <th>Stage</th>
                <th>URL</th>
                <th>Enabled</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          @for(config <- hooks) {
            <tr @if(!config.enabled){ class="error" }>
                <td>@shortDateTime.print(config.lastEdited) by <span class="label label-default">@config.user</span></td>
                <td>@config.projectName</td>
                <td>@config.stage</td>
                <td>@config.url</td>
                <td>@config.enabled</td>
                <td>
                    <a class="btn btn-mini" href="@routes.Hooks.edit(config.id.toString)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                </td>
                <td>
                    @helper.form(action=routes.Hooks.delete(config.id.toString), 'class -> "form-make-inline") {
                        <button class="btn btn-mini btn-danger" name="action" value="delete"><i class="glyphicon glyphicon-trash glyphicon glyphicon-white"></i> Delete</button>
                    }
                </td>
            </tr>
          }
        </tbody>
    </table>
    }
</div>
}