@(host: magenta.Host, placement: String)
@import html.helper.magenta.htmlTooltip

@htmlTooltip(placement=placement){
    <table>
        <tbody>
            <tr>
                <td class='text-right'><strong>Name:</strong></td><td class='text-left'>@host.name</td>
            </tr>
        @host.tags.map { case (key, value) =>
        <tr>
            <td class='text-right'><strong>@key:</strong></td><td class='text-left'>@value</td>
        </tr>
        }
        </tbody>
    </table>
}{
    @host.name
}