@(records: List[deployment.Record])
@import deployment._
@import html.helper.magenta.htmlTooltip

@if(records.isEmpty) {
<div class="alert alert-warning"><strong>No deploys found.</strong></div>
} else {
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Time</th>
        <th>Deployer</th>
        <th>Project</th>
        <th>Stage</th>
        <th>Build</th>
        <th>Branch</th>
        <th>Recipe</th>
        <th>Hosts</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody class="rowlink" data-provides="rowlink">
    @records.map{ record =>
    <tr class="rowlink">
        <td><time class="makeRelativeDate" withinhours="24" datetime="@record.time">@org.joda.time.format.DateTimeFormat.mediumDateTime.print(record.time)</time></td>
        <td><span class="label label-default">@record.deployerName</span></td>
        <td><a href="@routes.Deployment.viewUUID(record.uuid.toString)" class="rowlink">@record.buildName</a></td>
        <td>@record.stage.name</td>
        <td>@record.buildId</td>
        @defining(record.vcsInfo) { vcsInfo =>
        <td>@htmlTooltip(placement="left"){
          @vcsInfo.map { info =>
            <strong>@info.name</strong> @info.repo<br/>
            @info.revision
          }
        }{
            @record.metaData.get("branch").getOrElse("unknown")
        }</td>
        }
        <td>@Some(record.recipe.name).filter(_ != "default").getOrElse(Html(""))</td>
        <td>@Some(record.parameters.hostList.size).filter(_ != 0).getOrElse(Html(""))</td>
        <td>
            @htmlTooltip(placement="left"){
                @record.metaData.get(deployment.Record.RIFFRAFF_HOSTNAME).getOrElse(Html(""))
            }{
            @defining(record.taskType) { taskType =>
                @taskType match {
                    case TaskType.Deploy => { }
                    case TaskType.Preview => { <span class="label label-info">Preview</span> }
                }
            }
            @defining(record.state) { state =>
            @state match {
            case RunState.Completed => { <span class="label label-success">Completed</span> }
            case RunState.Failed => { <span class="label label-danger">Failed</span> }
            case RunState.NotRunning => { <span class="label label-default">Waiting</span> }
            case _ => {
                <span class="label label-info">Running (@record.completedPercentage%)</span>
            }
            }
            }
            }
        </td>
    </tr>
    }
    </tbody>
</table>
}