@import magenta.Message.AwaitingUserInput
@(reportTree: magenta.DeployReportTree, depth: Int)(implicit request: Request[AnyContent], record: deployment.Record)
@import magenta.RunState
@import helper.CSRF

<li>
    @defining((MessageHelper.messageType(reportTree), MessageHelper.state(reportTree), reportTree.messageState.messageId.toString)){ case (messageType, state, id) =>
        @defining(reportTree.cascadeState != RunState.Completed || depth < 1) { open =>
            <span class="visibility-@messageType">
                <span class="display-inline" role="button" data-toggle="collapse" href="#@id" aria-expanded="false" aria-controls="@id">
                @if(reportTree.hasChildren) {
                    <span id="@id-icon" class="glyphicon glyphicon-chevron-@if(open){down}else{right}"></span>
                } else {
                    <span class="glyphicon">&nbsp;</span>
                }
                </span>
                <span class="message-@messageType @state">@reportTree.timeString.map{time => <span class="magenta-timestamp">[@time] </span>}@MessageHelper.trim{@reportTree.message.text}</span>
                @if(AwaitingUserInput.is(reportTree.message)) {
                  <div>
                      @helper.form(routes.DeployController.proceedAfterUserInput(record.uuid.toString), Symbol("class") -> "form-make-inline pull-right stop-deploy-hide") {
                          @CSRF.formField
                          <button name="action" type="button" value="@record.uuid" class="proceed-deploy-button refresh-disabled-hide btn btn-success">
                              <i class="glyphicon glyphicon-play-circle glyphicon-white"></i> Proceed
                          </button>
                      }
                  </div>
                  <br />
                  <div class="clearfix"></div>
                }
            </span>
            @if(reportTree.children.nonEmpty) {
                <ul id="@id" class="collapsing-node magenta-reporttree collapse@if(open){ in}">
                    @reportTree.children.map{ child =>
                        @snippets.reportTree(child, depth + 1)
                    }
                </ul>
            }
        }
    }
</li>
