@(request: controllers.AuthenticatedRequest[AnyContent], configForm: Form[controllers.ContinuousDeployController.ConfigForm])
@import ci.Trigger._

@main("Continuous Deployment", request, List("form-autocomplete", "ci-tag-disable")) {

<h2>Continuous Deployment Configuration</h2>
<hr/>

@helper.form(action=routes.ContinuousDeployController.save) {
@snippets.inputHidden(configForm("id"))

    @if(configForm.hasGlobalErrors) {
        <div class="alert alert-error">
            <h4>Error</h4>
            <ul>
            @configForm.globalErrors.map { error =>
              <li>@error.message</li>
            }
            </ul>
        </div>
    }

@helper.inputText(configForm("projectName"), 'id -> "projectInput", Symbol("data-url") -> "/deployment/request/autoComplete/project", '_label -> "Project Name", 'class -> "buildForm")
@helper.select(
configForm("stage"),
options = helper.options(resources.LookupSelector().stages.toList),
'_default -> "--- Choose a stage ---",
'_label -> "Stage",
'_error -> configForm.globalError.map(_.withMessage("Please select deployment stage"))
)
@helper.inputText(configForm("recipe"), '_label -> "Recipe to Execute")
@helper.inputText(configForm("branchMatcher"), '_label -> "Branch RegEx")
<legend>Trigger</legend>
@helper.inputRadioGroup(
    configForm("trigger"),
    options = Seq(SuccessfulBuild, BuildTagged, Disabled).map(value => value.id.toString -> value.toString),
    Symbol("data-radio") -> "trigger"
)
@configForm("trigger").value match {
    case Some("2") => { @helper.inputText(configForm("tag"), 'id -> "tagInput", '_label -> "Tag") }
    case _ => { @helper.inputText(configForm("tag"), 'id -> "tagInput", '_label -> "Tag", 'disabled -> None) }
}

<div class="actions">
    <button name="action" type="submit" value="save" class="btn btn-primary">Save</button> or
    <a href="@routes.ContinuousDeployController.list()" class="btn btn-warning">Cancel</a>
</div>
}
}