@(implicit request: controllers.AuthenticatedRequest[AnyContent], configs: Seq[ci.ContinuousDeploymentConfig])
@import utils.ChangeFreeze
@import org.joda.time.format.DateTimeFormat._
@import ci.Trigger._

@main("Continuous Deployment Configurations", request) {
<h2>Continuous Deployment Configurations</h2>
@if(ChangeFreeze.frozen) {
    <div class="alert alert-danger">
        <h4 class="alert-heading">Change Freeze</h4>
        <p>There is currently a change freeze. This means that continuous deploys for @ChangeFreeze.stages.mkString(", ") are disabled.</p>
    </div>
}
<hr/>
<p><a class="btn btn-warning" href="@routes.ContinuousDeployController.form()"><i class="glyphicon glyphicon-plus glyphicon glyphicon-white"></i> Add new configuration</a></p>
<div class="content">
    @if(configs.isEmpty) {
        <div class="alert alert-warning"><strong>No configurations.</strong></div>
    } else {
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Last edited</th>
                <th>Project Name</th>
                <th>Branches</th>
                <th>Target Stage</th>
                <th>Recipe to execute</th>
                <th>Trigger</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          @for(config <- configs) {
            <tr @if(!config.enabled){ class="error" }>
                <td>@shortDateTime.print(config.lastEdited) by <span class="label">@config.user</span></td>
                <td>@config.projectName</td>
                <td>@config.branchRE.toString()</td>
                <td>@config.stage</td>
                <td>@config.recipe</td>
                <td>@config.trigger match {
                    case SuccessfulBuild => { Build succeeds }
                    case BuildTagged => { Build tagged with <span class="label">@config.tag.getOrElse{&nbsp;}</span> }
                    case Disabled => { Disabled }
                }</td>
                <td>
                    <a class="btn btn-mini" href="@routes.ContinuousDeployController.edit(config.id.toString)"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                </td>
                <td>
                    @helper.form(action=routes.ContinuousDeployController.delete(config.id.toString), 'class -> "form-make-inline") {
                        <button class="btn btn-mini btn-danger" name="action" value="delete"><i class="glyphicon glyphicon-trash glyphicon glyphicon-white"></i> Delete</button>
                    }
                </td>
            </tr>
          }
        </tbody>
    </table>
    }
</div>
}