@import magenta.artifact.S3Object
@import conf.Config
@(config: Config, menu: Menu)(request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], projectName: String, id: String, objects: Seq[(String, S3Object)])

@main(s"Artifact files for $projectName / $id", request) {
    <h2>Artifact listing for @projectName build @id</h2>
    <hr/>
    <div>
        @if(objects.isEmpty) {
            No files
        } else {
            <table class="table table-condensed">
                <thead><tr><td>Key</td><td class="text-right">Object size (bytes)</td></tr></thead>
                <tbody>
                @for((path, obj) <- objects) {
                    <tr><td><a href="@routes.DeployController.getArtifactFile(obj.key)">@path</a></td><td class="text-right">@obj.size</td></tr>
                }
                </tbody>
            </table>
        }
    </div>
}(config, menu)