@import ci.Target
@import conf.Config
@(config: Config, menu: Menu)(target: Target, request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])

@main("No match for target", request) {
    <h3>No match found</h3>
    <p>No match found for deploying <span class='label label-primary'><span class='glyphicon glyphicon-book'></span> @target.app</span>
        in <span class='label label-info'>
            <span class='glyphicon glyphicon-globe'></span> @target.region
            <span class='glyphicon glyphicon-tasks'></span> @target.stack
        </span>
    </p>
    <p>
        Not what you expected? Deploy targets are resolved and indexed when Riff-Raff discovers a brand new build. Try
        kicking off a new CI build for the related project and then try refreshing this page.
    </p>
}(config, menu)