@import persistence.TargetId
@import deployment.Record
@import conf.Config
@(config: Config, menu: Menu)(targetId: TargetId, stage: String, records: List[Record], request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])

@main("Select build to deploy", request) {
    <h3>Select build to redeploy to @stage</h3>
    @if(records.nonEmpty) {
        <h4>Last deploys of <em>@targetId.projectName</em> to @stage</h4>
        @snippets.recordTable(records, None, allColumns = false, Some(("", views.html.deployTarget.deployButton.f)))
    } else {
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            Riff Raff has not been used to deploy @targetId.projectName to @stage
        </div>
    }
}(config, menu)