@import conf.Config
@(request: Request[AnyContent])(config: Config, menu: Menu)
@import com.gu.googleauth.UserIdentity

@menubar(config){
    @defining(UserIdentity.fromRequest(request)) { identity =>
        <ul class="nav navbar-nav navbar-collapse collapse d-flex align-items-center">
            @for(item <- menu.menuItems) {
                @menubaritem(request, item)
            }
        </ul>
        @if(identity.isDefined) {
            <ul class="btn-group pull-right hidden-xs nav navbar-nav">
                <li>
                    <a href="#" class="btn-group" role="menu" data-toggle="dropdown" aria-haspopup="true" href="#">
                        <i class="glyphicon glyphicon-user"></i> @identity.get.fullName
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.Login.profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="@routes.Login.logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        } else {
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="@menu.loginMenuItem.target"><i class="glyphicon glyphicon-user"></i> @menu.loginMenuItem.title</a>
                </li>
            </ul>
        }
    }
}