@(menuBarItems: Html)

<nav class="navbar navbar-fixed-top navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon icon-bar"></span>
            <span class="glyphicon icon-bar"></span>
            <span class="glyphicon icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Riff Raff</a>
    </div>
    @menuBarItems
</nav>
