@(build: ci.CIBuild, tags: Seq[ci.TagClassification])
@import ci.Status

<h4>Build number <em>@build.number</em></h4>

<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Branch</th>
            <td>@build.branchName</td>
        </tr>
        <tr>
            <th>Start Time</th>
            <td>@org.joda.time.format.DateTimeFormat.mediumDateTime.print(build.startTime)</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>
                @if(tags.isEmpty) {
                    <em>No tags</em>
                }
                @tags.map { tag =>
                    @if(tag.link.isDefined) { <a href="@tag.link.get"> }
                    @tag.status match {
                        case Some(Status.Danger) => { <div class="label label-danger">@tag.text</div> }
                        case Some(Status.Success) => { <div class="label label-success">@tag.text</div> }
                        case _ => { <div class="label label-primary">@tag.text</div> }
                    }
                    @if(tag.link.isDefined) { </a> }
                }
            </td>
        </tr>
    </tbody>
</table>
