@(deployRecords:List[(String,Map[String,deployment.Record])])
@import html.helper.magenta.htmlTooltip
@defining(deployRecords.flatMap(_._2.values).map(_.stage.name).distinct.sorted(conf.Configuration.stages.ordering)) { stages =>

    <table class="table">
    <thead>
        <tr>
            <th>Project</th>
            @stages.map{ stage =>
                <th>@stage</th>
            }
        </tr>
    </thead>
    <tbody>
    @for((project,stageRecordMap) <- deployRecords) {
        <tr>
        <td>@project</td>
        @stages.map{ stage =>
                <td>
                  @stageRecordMap.get(stage).map{ r => @snippets.pimpedBuildId(r) }
                </td>
                        }
                </tr>
                        }
                </tbody>
                </table>

}