@(request: controllers.AuthenticatedRequest[AnyContent], deployRecords:List[(String,Map[String,deployment.Record])])

@main("Dashboard", request) {
    <h2>Dashboard</h2>

    @defining(deployRecords.flatMap(_._2.values).map(_.stage.name).distinct.sorted) { stages =>

        <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                @stages.map{ stage =>
                    <th>@stage</th>
                }
            </tr>
        </thead>
        <tbody>
        @for((project,stageRecordMap) <- deployRecords) {
            <tr>
                <td>@project</td>
                @stages.map{ stage =>
                    @defining(stageRecordMap.get(stage)) { record =>
                <td>
                    <div @record.map{ r => rel="tooltip" title="@org.joda.time.format.DateTimeFormat.shortDateTime.print(r.time) (recipe @r.parameters.recipe.name by @r.parameters.deployer.name)" data-placement="left"}>
                        @record.map(_.buildId).getOrElse("")
                    </div>
                </td>
                    }
                }
            </tr>
        }
        </tbody>
        </table>

    }
}