@import conf.Config
@(config: Config, menu: Menu)(request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], projects: String, search: Boolean)

@main("Dashboard", request, List("auto-refresh")) {
    <h2>Dashboard</h2>
    <hr/>

    <div data-ajax-refresh="@{routes.DeployController.dashboardContent(projects, search)}" data-ajax-interval="60000">
        <p class="loading"><img height="15" width="21" src="@routes.Assets.versioned("images/parrot-small.gif")"/> Analysing history...</p>
        <div class="alert alert-danger error" style="display:none"><strong>An error occurred whilst fetching the latest dashboard information</strong></div>
        <div class="content"></div>
    </div>
}(config, menu)