@(request: controllers.AuthenticatedRequest[AnyContent], hosts: Map[String,Seq[magenta.Host]], lookup: Lookup)
@import html.helper.magenta.htmlTooltip

@main("Deployment Hosts", request, List("deployinfo-app-tabs", "relative-time")) {

<h2>Deployment Hosts</h2>

@snippets.lookupDateBox(lookup)

@if(hosts.isEmpty) {
    @if(lookup.instances.all.isEmpty) {
        <div class="alert">No hosts specified in deployment information</div>
    } else {
        <div class="alert">No hosts match filter</div>
    }
} else {

@snippets.tabbable(lookup.stages.filter(hosts.contains), pushParam="stage"){ stage =>
    <table class="table table-condensed table-striped">
    <thead><tr>
        <th>App</th>
        <th>Hosts</th>
    </tr></thead>
    <tbody>
        @hosts(stage).groupBy(_.apps).toList.sortBy(_._1.head.name).map { case (appSet, hosts) =>
            <tr>
            <td><strong>@appSet.map(_.name).mkString(", ")</strong> (@hosts.size)</td>
            <td>
            @hosts.transposeBy(_.tags.getOrElse("group","")).map{ host =>
                @snippets.hostWithTooltip(host, placement="left")
            }
            </td>
            </tr>
        }
    </tbody>
    </table>
}
}
}