@(request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])

@main("About Deployment Information", request) {

    <h2>About Deployment Information</h2>

    <div>
        <div class="alert alert-info">Tip: On the hosts page you can filter by application name by using the
            <code>app</code> query parameter</div>

        <p>Riff raff is driven by a set of information about hosts and resources.  This is derived from the
        <code>deployinfo</code> scripts and the source is described in more detail
        <a href="@routes.Application.documentation("magenta-lib/deployinfo")">in the documentation</a>.</p>

        <p>These pages allow you to easily view this information to find out what information is being passed
        to your deployments.</p>

        <p>The Hosts tab lists all hosts associated with applications.  There is a set of hosts attached to
        </p>

        <p>The Resources tab contains key-value data sets (this is evaluated
        by matching the stage and environment regular expressions in this order - see this
        <a href="@routes.Application.documentation("riffraff/s3buckets")">AWS credentials example</a>)</p>

    </div>

}