@(request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], hosts: Map[String,Seq[magenta.Host]], lookup: resources.PrismLookup)
@import magenta.HostList._

@main("Deployment Hosts", request, List("deployinfo-app-tabs", "relative-time")) {

<h2>Deployment Hosts</h2>

@if(hosts.isEmpty) {
    @if(lookup.hosts.all.isEmpty) {
        <div class="alert">No hosts specified in deployment information</div>
    } else {
        <div class="alert">No hosts match filter</div>
    }
} else {

@snippets.tabbable(lookup.stages.filter(hosts.contains), pushParam="stage"){ stage =>
    <table class="table table-condensed">
    <thead><tr>
        <th>Stack</th>
        <th>App</th>
        <th>&nbsp;</th>
        <th>Hosts</th>
    </tr></thead>
    <tbody>
        @hosts(stage).byStackAndApp.map { case ((stackOption, appSet), hosts) =>
            <tr>
            <td><strong>@stackOption.getOrElse{ <span class='label label-warning'>none</span> }</strong></td>
            <td><strong>@appSet.map(_.name).mkString(", ")</strong></td>
            <td>(@hosts.size)</td>
            <td>
            @hosts.transposeBy(_.tags.getOrElse("group","")).map{ host =>
                @snippets.hostWithTooltip(host, placement="left")
            }
            </td>
            </tr>
        }
    </tbody>
    </table>
}
}
}