@(request: controllers.AuthenticatedRequest[AnyContent], deployForm: Form[controllers.DeployParameterForm])
@import helper.twitterBootstrap._

@main("Deploy request", request, List("preview-transition", "form-autocomplete")) {

<h2>Deploy request</h2>

<div class="alert alert-info">
Riff-raff is now capable of deploying any magenta deployable - if you have any problems please talk to <a href="mailto:simon.hildrew@@guardian.co.uk">Simon Hildrew</a>
</div>

<h3>Provide deploy details</h3>

<div class="span6">
@helper.form(routes.Deployment.processForm, 'id -> "modalConfirm") {
@helper.inputText(deployForm("project"), 'id -> "projectInput", Symbol("data-url") -> "/deployment/request/autoComplete/project", 'class -> "buildForm")
@helper.inputText(deployForm("build"), 'id -> "buildInput", Symbol("data-url") -> "/deployment/request/autoComplete/build", 'class -> "buildForm")
@helper.select(
deployForm("stage"),
helper.options(deployment.DeployInfoManager.stageList.reverse),
'_default -> "--- Choose a stage ---",
'_label -> "stage",
'_error -> deployForm.globalError.map(_.withMessage("Please select deployment stage")),
'id -> "stage"
)

<div class="actions">
    <button name="action" type="submit" value="preview" class="btn">Preview...</button>
    <button name="action" type="submit" value="deploy" class="btn btn-primary">Deploy Now</button>
    <a href="@routes.Application.index()" class="btn btn-inverse">Cancel</a>
</div>

}
</div>

<div class="span6" id="deploy-info"></div>

<div class="clearfix"></div>
}