@import conf.Config
@(config: Config, menu: Menu)(prismLookup: resources.PrismLookup)(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])
@import deployment.DeployFilterPagination

@main("Deployment history", request, List("auto-refresh", "history-dropdown", "autorefresh-rowlink", "graph", "relative-time", "form-autocomplete")) {
    <link href="@routes.Assets.versioned("stylesheets/rickshaw.css")" rel="stylesheet">
    <link href='@routes.Assets.versioned("stylesheets/graph.css")' rel="stylesheet">
    <script src='@routes.Assets.versioned("javascripts/d3.v2.min.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/rickshaw.js")'></script>
    <script>
            $(function () { graph({
                "container_id": 'deploy-chart',
                "data_path": '@{routes.DeployController.historyGraph.url}',
                "height": '100',
                "renderer": 'bar'
            })  })
    </script>

    <h2>Recent deploys</h2>

    @historyFilter(DeployFilterPagination.fromRequest, prismLookup)

    <div class="graph-container" id="deploy-chart">
            <!--<div class="graph-y-axis-label">Day</div>-->
        <div class="graph-y-axis"></div>
        <div class="graph-body">
            <div class="graph"></div>
            <div class="graph-slider"></div>
        </div>
        <div class="graph-legend"></div>
    </div>

    <div data-ajax-refresh="@{routes.DeployController.historyContent()}?@request.rawQueryString" data-ajax-interval="60000">
        <p class="loading">Loading...</p>
        <div class="alert alert-danger error" style="display:none"><strong>An error occurred whilst fetching the most recent deployment history</strong></div>
        <div class="content"></div>
    </div>
}(config, menu)