@(filter: deployment.DeployFilter)
@import deployment.Task
@import magenta.RunState

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Filter</a>
        <ul class="nav">
            <li><a href="#"></a></li>
            <li class="dropdown@if(filter.stage.isDefined){ active}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stage@filter.stage.map{s=>: <strong>@s</strong>} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li@if(!filter.stage.isDefined){ class="active"}><a href="@{routes.Deployment.history()}?@{filter.withStage(None).q}">All</a></li>
                    <li class="divider"></li>
                    @for(stage <- deployment.DeployInfoManager.deployInfo.knownHostStages) {
                        <li @if(Some(stage)==filter.stage){class="active"}><a href="@{routes.Deployment.history()}?@{filter.withStage(Some(stage)).q}">@stage</a></li>
                    }
                </ul>
            </li>
            <li class="dropdown@if(filter.status.isDefined){ active}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Status@filter.status.map{s=>: <strong>@s</strong>} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li@if(!filter.status.isDefined){ class="active"}><a href="@{routes.Deployment.history()}?@{filter.withStatus(None).q}">All</a></li>
                    <li class="divider"></li>
                    @for(status <- RunState.values.toList.filterNot(_==RunState.ChildRunning).sortBy(_.toString)) {
                        <li @if(Some(status)==filter.status){class="active"}><a href="@{routes.Deployment.history()}?@{filter.withStatus(Some(status)).q}">@status</a></li>
                    }
                </ul>
            </li>
            <li class="dropdown@if(filter.task.isDefined){ active}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task@filter.task.map{s=>: <strong>@s</strong>} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li@if(!filter.task.isDefined){ class="active"}><a href="@{routes.Deployment.history()}?@{filter.withTask(None).q}">All</a></li>
                    <li class="divider"></li>
                    @for(task <- Task.values.toList.sortBy(_.toString)) {
                        <li @if(Some(task)==filter.task){class="active"}><a href="@{routes.Deployment.history()}?@{filter.withTask(Some(task)).q}">@task</a></li>
                    }
                </ul>
            </li>
            <li class="dropdown@if(filter.projectName.isDefined){ active}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project@filter.projectName.map{s=>: <strong>@s</strong>} <b class="caret"></b></a>
                <div class="dropdown-menu floating-form">
                    <div class="input-append floating-form">
                        <input id="projectName" type="text" name="projectName" size="30" value="@filter.projectName.getOrElse("")"/>
                        <button class="btn" id="projectNameGo"><i class="icon-filter"></i></button>
                        <a class="btn" href="@{routes.Deployment.history()}?@{filter.withProjectName(None).q}"><i class="icon-remove"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="@routes.Deployment.history()"><i class="icon-remove"></i> Clear all filters</a></li>
        </ul>
    </div>
</div>