@(request: controllers.AuthenticatedRequest[AnyContent])
@import deployment.DeployInfoManager._

@main("Deployment Information", request) {

<h2>Deployment Information</h2>

<h3>Data</h3>
<hr/>
<p>The deployinfo file contains the following key-value data sets (this is evaluated by matching the stage and environment regular expressions in this order)</p>

@deployInfo.knownKeys.map{ dataKey =>
<hr/>
<h4>Data for key: <em>@dataKey</em></h4>

<table class="table">
    <thead><tr>
        <th>App</th>
        <th>Stage</th>
        <th>Value</th>
        <th>Comment</th>
    </tr></thead>
    <tbody>
    @deployInfo.dataForKey(dataKey).map { data =>
    <tr>
        <td>@data.app.toString</td>
        <td>@data.stage.toString</td>
        <td>@data.value</td>
        <td>@data.comment</td>
    </tr>
    }
    </tbody>
</table>

}

<h3>Hosts</h3>
<hr/>

<table class="table">
    <thead><tr>
        <th>App</th>
        @deployInfo.knownHostStages.map{ stage => <th>@stage</th> }
    </tr></thead>
    <tbody>
@deployInfo.knownHostApps.map { appSet =>
    <tr>
    <td><strong>@appSet.map(_.name).mkString(", ")</strong></td>
        @deployInfo.knownHostStages.map{ stage =>
        <td>
        @if(deployInfo.stageAppToHostMap.contains((stage,appSet))) {
        <ul>
            @deployInfo.stageAppToHostMap((stage,appSet)).map { host => <li>@host.name</li> }
        </ul>
            } else {
            -
            }
        </td>
        }
    </tr>
}
    </tbody>
</table>

}