@(implicit request: controllers.AuthenticatedRequest[AnyContent], record: deployment.Record, verbose: Boolean = false)

@main("Deployment report for "+record.buildName, request) {
@if(!verbose) {
<style>
span.message-verbose {
    display:none;
}
</style>
}
<h2>Deploying @record.buildName build @record.buildId in @record.stage</h2>
<hr/>
<div class="content" data-ajax-refresh="@routes.Deployment.updatesUUID(record.uuid.toString)">
@deploy.logContent(request, record)
</div>
@if(!record.isDone){
<script>
    $(function() { ajaxRefresh.enable(); });
</script>
}
}