@(record: deployment.Record)
@import magenta.DeployReportTree
@import magenta.EmptyDeployReport

@logSummary(record)

@if(!record.isSummarised) {
    @record.report match {
        case report : DeployReportTree => {
            <div class="clearfix">
                <div class="pull-right">
                    <button
                    type="button"
                    aria-expanded="false"
                    class="btn btn-default"
                    data-toggle="collapse"
                    role="button"
                    data-target=".collapsing-node.magenta-reporttree:not(.in)"
                    >
                        🔽 expand all
                    </button>
                </div>

                <ul class="magenta-reporttree">
                @snippets.reportTree(report, 0)
                </ul>
            </div>
            @logSummary(record)
        }
        case EmptyDeployReport => {
            <p>Deployment log has not yet been written to.</p>
        }
    }


}

@if(record.isDone){
    <div class="ajax-refresh-disabled pull-left"></div>
}