@(record: deployment.Record)(implicit request: Request[AnyContent])
@import magenta.DeployReportTree
@import magenta.EmptyDeployReport

@logSummary(record)

@if(!record.isSummarised) {
    @record.report match {
        case report : DeployReportTree => {
            <ul class="magenta-reporttree">
                @snippets.reportTree(report, 0)(request, record)
            </ul>
            @logSummary(record)
        }
        case EmptyDeployReport => {
            <p>Deployment log has not yet been written to.</p>
        }
    }


}

@if(record.isDone){
    <div class="ajax-refresh-disabled pull-left"></div>
}
