@(record: deployment.DeployRecord)

@defining(record.report.cascadeState) { state =>
@state match {
case RunState.Completed => { <div class="alert alert-success">Deploy completed</div> }
case RunState.Failed => {
<div class="alert alert-error">
    <h4 class="alert-heading">Deploy failed</h4>
    @defining(java.util.UUID.randomUUID.toString) { id =>
        @record.report.failureMessage.map{ fail =>
            <strong>@fail.detail.message</strong> <a data-toggle="collapse" href="#@id">exception details</a>
            <div id="@id" class="collapse">
                <pre>@fail.detail.stackTrace</pre>
            </div>
        }
    }
</div>
}
case _ => {}
} }