@(implicit request: controllers.AuthenticatedRequest[AnyContent], record: deployment.Record)

@if(record.isSummarised) {
 @logSummary(record)
} else {
@defining(record.report.cascadeState) { state =>
@state match {
case RunState.Failed => {
<div class="alert alert-error">
    <h4 class="alert-heading">Deploy failed</h4>
    @record.report.failureMessage.map{ fail =>
    <strong>@fail.detail.message</strong>
    <pre>@fail.detail.stackTrace</pre>
    }
</div>
}
case RunState.Completed => {
    <div class="alert alert-success">
        <h3>Preview of hosts affected and tasks that will be executed</h3>
        @helper.form(action=routes.Deployment.processForm) {
        <div>
            <ul class="magenta-list">
                @if(record.report.hostNames.isEmpty) {
                    <li>No hosts found</li>
                }
                @record.report.hostNames.zipWithIndex.map { hostTuple =>
                    <li><span class="preview-host"><input type="checkbox" name="hosts[@hostTuple._2]" value="@hostTuple._1" checked="true"/>@hostTuple._1</span></li>
                }
            </ul>
        </div>
        <div>
            <ul class="magenta-list">
                @if(record.report.tasks.isEmpty) {
                <li>No tasks generated</li>
                }
                @record.report.tasks.map { task =>
                <li><span class="preview-task">@task.fullDescription</span></li>
                }
            </ul>
        </div>

        <input type="hidden" name="project" value="@record.buildName"/>
        <input type="hidden" name="build" value="@record.buildId"/>
        <input type="hidden" name="stage" value="@record.stage.name"/>
        <input type="hidden" name="recipe" value="@record.recipe.name"/>

        <div class="actions">
            <button name="action" type="submit" value="deploy" class="btn btn-primary">Deploy Now</button>
            <a href="@routes.Application.index()" class="btn btn-warning">Cancel</a>
        </div>
        }
    </div>
}
case _ => {}
} }


<ul class="magenta-reporttree">
    @snippets.reportTree(record.report)
</ul>
}

@if(record.isDone){
    <div class="ajax-refresh-disabled pull-left"></div>
}