@(implicit request: controllers.AuthenticatedRequest[AnyContent], parameters: magenta.DeployParameters)
@import views.html.helper.magenta.ParameterHelper._

@main("Preview", request, List("auto-refresh","checkbox-selection")) {

    <h3>Preview of recipes, hosts and tasks for @parameters.build.projectName</h3>

    <div>
        <table class="table table-condensed table-auto-width">
            <tr><td><strong>Project</strong></td><td>@parameters.build.projectName</td></tr>
            <tr><td><strong>Build</strong></td><td>@parameters.build.id</td></tr>
            <tr><td><strong>Stage</strong></td><td>@parameters.stage.name</td></tr>
            <tr><td><strong>Recipe</strong></td><td>@parameters.recipe.name</td></tr>
            <tr><td><strong>Hosts</strong></td><td>@if(parameters.hostList.isEmpty) { <em>All hosts</em> } else { @parameters.hostList..mkString(", ") }</td></tr>
        </table>
    <div>

    <div class="content" data-ajax-refresh="@parameters.previewContentCall">
        <p><img src="@routes.Assets.at("images/ajax-loader.gif")"/> Resolving recipes, hosts and tasks from artifacts deploy.json file...</p>
    </div>

}