@(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], preview: deployment.Preview)

@helper.form(action=routes.DeployController.processForm) {

    <table class="table table-hover">
        <tbody>
        @preview.recipeTasks.filterNot(rt => rt.recipe.actionsBeforeApp.isEmpty && rt.recipe.actionsPerHost.isEmpty).map { recipeTasks =>
            <tr>
                <td><span class="no-hyphenation">@recipeTasks.recipeName</span></td>
                @if(recipeTasks.disabled) {
                  <td colspan="2"><div><em>
                      This recipe has been disabled.  This is because there are no valid hosts available for per-host
                      tasks specified in this recipe or a recipe that depends on this.
                  </em></div></td>
                } else {
                <td>
                        @if(recipeTasks.hosts.isEmpty) {
                            <div><em>No hosts</em></div>
                        }
                        @recipeTasks.hosts.map { host =>
                            <div class="no-hyphenation">@snippets.hostWithTooltip(host, placement="right")</div>
                        }
                </td>
                <td>
                <ul class="magenta-list task-list">
                    @if(recipeTasks.tasks.isEmpty) {
                        <li><em>No tasks generated</em></li>
                    }
                    @recipeTasks.tasks.map { task =>
                        <li><span class="preview-task">@task.fullDescription</span></li>
                    }
                </ul>
                </td>
                }
            </tr>
        }
        </tbody>
    </table>

    <h4>Use specific recipe</h4>

    <div>
        <table class="table table-condensed deployment-list">
            <tr>
            <td>Current recipe</td>
            <td><ul><li><a class="btn btn-sm btn-primary" href="@preview.withRecipe(preview.recipe)">@preview.recipe</a></li></ul></td>
            </tr>
            @if(preview.recipeNames.size>1){
            <tr>
            <td>Dependent recipes</td>
            <td><ul>@preview.recipeNames.filterNot(_==preview.recipe).map { recipe =>
                <li><a class="btn btn-sm btn-success" href="@preview.withRecipe(recipe)">@recipe</a></li>
            }</ul></td>
            </tr>
            }
            @if(preview.allRecipes.size > preview.recipeNames.size) {
            <tr>
            <td>Other recipes in artifact</td>
            <td><ul>@preview.allRecipes.filterNot(preview.recipeNames.contains).map { recipe =>
                <li><a class="btn btn-default btn-sm" href="@preview.withRecipe(recipe)">@recipe</a></li>
            }</ul></td>
            </tr>
            }
        </table>
    </div>

    @if(!preview.stacks.isEmpty){
    <h4>Select stacks</h4>
    <button type="button" class="btn btn-default" data-checkbox-target=".checkbox-stacks" data-checkbox-state="true">
        <span class="glyphicon glyphicon-ok"></span> All</button>
    <button type="button" class="btn btn-default" data-checkbox-target=".checkbox-stacks" data-checkbox-state="false">
        <span class="glyphicon glyphicon-remove"></span> None</button>
    <div>
        <ul class="magenta-list deployment-list">
            @preview.stacks.zipWithIndex.map { stack =>
            <li><span class="preview-host"><input type="checkbox" class="checkbox-stacks" name="stacks[@stack._2]" value="@stack._1" checked/>@stack._1</span></li>
            }
        </ul>
    </div>
    }

    <h4>Select hosts</h4>
    @if(preview.hosts.isEmpty) {
        <div><em>No hosts found</em></div>
    } else {
    <button type="button" class="btn btn-default" data-checkbox-target=".checkbox-hosts" data-checkbox-state="true">
        <span class="glyphicon glyphicon-ok"></span> All</button>
    <button type="button" class="btn btn-default" data-checkbox-target=".checkbox-hosts" data-checkbox-state="false">
        <span class="glyphicon glyphicon-remove"></span> None</button>
    <div>
        @preview.allHosts.zipWithIndex.groupBy(_._1.apps.toList.map(_.toString).sorted.mkString(",")).toList.sortBy(_._1).map { hostGroupEntry =>
            <div>
                <ul class="magenta-list deployment-list">
                    <li><span class="preview-host"><strong>@hostGroupEntry._1:</strong></span></li>
                    @hostGroupEntry._2.map { hostTuple =>
                    <li><span class="preview-host"><input type="checkbox" class="checkbox-hosts" name="hosts[@hostTuple._2]" value="@hostTuple._1.name" @if(preview.hosts.contains(hostTuple._1)){checked="true"}/>@hostTuple._1.name</span></li>
                    }
                </ul>
            </div>
        }
    </div>
    }

    <input type="hidden" name="project" value="@preview.projectName"/>
    <input type="hidden" name="build" value="@preview.build"/>
    <input id="stage" type="hidden" name="stage" value="@preview.stage"/>
    <input type="hidden" name="recipe" value="@preview.recipe"/>

        <hr/>

    <div class="actions">
        <button name="action" type="submit" value="preview" class="btn btn-default">Preview...</button>
        <button id="modalConfirm" name="action" type="submit" value="deploy" class="btn btn-primary">Deploy Now</button>
        <a href="@routes.DeployController.deploy()" class="btn btn-danger">Cancel</a>
    </div>

    <div class="ajax-refresh-disabled pull-left"></div>
}