@(projectName: String, stageDeployMap:Map[String,deployment.Record])

@if(stageDeployMap.nonEmpty) {
    @defining(stageDeployMap.keySet.toList.sorted(conf.Configuration.stages.ordering)) { stages =>
        <h4>Last deploys of <em>@projectName</em></h4>
        <table class="table table-condensed">
        <thead>
            <tr>
                <th>Stage</th>
                <th>Build</th>
                <th>Deploy to...</th>
            </tr>
        </thead>
        <tbody>
            @stages.map{ stage =>
                @defining(stageDeployMap(stage)) { record =>
                    <tr>

                    <td>@stage</td>
                    <td>
                        @snippets.pimpedBuildId(record)
                    </td>

                    <td>
                        @promoteButtons(record, stages.filterNot(stage==))
                    </td>
                    </tr>
                }
            }
        </tbody>
        </table>
    }
} else {
    <div class="alert">Riff Raff has not been used to deploy @projectName</div>
}