@(record: deployment.Record, stopFlag: Boolean)
@import deployment.Domains._
@import deployment.DomainAction._

@if(!record.isDone){
    @defining(responsibleFor(record.parameters)) { shard =>
    @shard match {
        case Local() => {
            @helper.form(routes.Deployment.stop(record.uuid.toString), 'class -> "form-make-inline pull-right stop-deploy-hide") {
                @if(stopFlag) {
                    <button name="action" type="button" value="@record.uuid" class="stop-deploy-button refresh-disabled-hide btn btn-danger disabled">
                        Stopping Deploy...
                    </button>
                } else {
                    <button name="action" type="button" value="@record.uuid" class="stop-deploy-button refresh-disabled-hide btn btn-danger">
                        <i class="glyphicon glyphicon-minus-sign glyphicon glyphicon-white"></i> Stop this Deploy
                    </button>
                }
            }
        }
        case Remote(name, urlPrefix) => {
            <a rel="tooltip"
                title="Viewing the deploy on the server where it was started (@name) gives more options (e.g. the ability to stop the deploy)."
                data-placement="left"
                href="@urlPrefix@routes.Deployment.viewUUID(record.uuid.toString).url"
                class="btn btn-primary pull-right stop-deploy-hide">
            <i class="glyphicon glyphicon-search glyphicon glyphicon-white"></i> View log on "@name"</a>
        }
    }
    }
    <div class="clearfix"></div>
}