@(record: deployment.Record, stopFlag: Boolean)

@if(!record.isDone){

    @helper.form(routes.DeployController.stop(record.uuid.toString), 'class -> "form-make-inline pull-right stop-deploy-hide") {
        @if(stopFlag) {
            <button name="action" type="button" value="@record.uuid" class="stop-deploy-button refresh-disabled-hide btn btn-danger disabled">
                Stopping Deploy...
            </button>
        } else {
            <button name="action" type="button" value="@record.uuid" class="stop-deploy-button refresh-disabled-hide btn btn-danger">
                <i class="glyphicon glyphicon-minus-sign glyphicon glyphicon-white"></i> Stop this Deploy
            </button>
        }
    }
    <div class="clearfix"></div>
}