@import conf.Config
@(config: Config, menu: Menu)(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])
@import helper.CSRF

@main("Validation form", request) {
    <div class="clearfix"><p>&nbsp;</p></div>
    <div class="col-md-6">
    @b3.vertical.form(routes.Application.validateConfiguration, Symbol("class") -> "well") { implicit fc =>
        @CSRF.formField
        <fieldset>
            <legend>Paste your riff-raff.yaml content to validate it...</legend>
            <textarea style="width:100%;height:300px" name="configuration"></textarea>

            <div class="actions">
                <button name="action" type="submit" value="deploy" class="btn btn-primary">Validate</button>
            </div>
        </fieldset>
    }
    </div>
    <div class="clearfix"></div>
}(config, menu)
