@(implicit request: controllers.AuthenticatedRequest[AnyContent], updateActorPath: String)

    @main("Deployment Tasks for frontend::article", request) {

    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.Application.deployFrontendArticleCodeComet
    )

    <h2>Frontend Article in CODE (update actor @updateActorPath)</h2>

    <div id="cometOutput"></div>

    <script type="text/javascript" charset="utf-8">
        var appendOutput = function(msg) {
            $('#cometOutput').append(msg)
        }
    </script>

<iframe id="comet" src="@routes.Application.deployFrontendArticleCodeComet(updateActorPath).unique" style="display:none"></iframe>

}