@(request: controllers.AuthenticatedRequest[AnyContent], stageAppHosts: Map[String,Map[Set[magenta.App],List[magenta.Host]]])


@main("Deployment Information", request) {

<h2>Deployment Information</h2>

<p>This is a list of nodes that we know about:</p>

@for((stage,appsHosts) <- stageAppHosts) {
    <h3>@stage</h3>
    @for((appList,hosts) <- appsHosts) {
        <h4>@appList</h4>
        <ul>
            @for( host <- hosts ) {
             <li>@host.name</li>
            }
        </ul>
    }
}

}