@(implicit request: controllers.AuthenticatedRequest[AnyContent], updateActorPath: String, deployParameters: deployment.DeployParameters, deployLog: deployment.DeployLog)

@main("Deployment Tasks for "+deployParameters.project, request) {

<h2>Deploying @deployParameters.project build @deployParameters.build in @deployParameters.stage</h2>
<p>(update actor @updateActorPath)</p>
<hr/>
<div class="content" @if(!deployLog.finished){data-ajax-refresh="@routes.Application.deployLog(updateActorPath)"}>
@views.html.snippets.deployLog(request, deployLog)
</div>
}