@(implicit request: controllers.AuthenticatedRequest[AnyContent], record: deployment.DeployRecord, verbose: Boolean = false)

@main("Deployment report for "+record.project, request) {
@if(!verbose) {
<style>
span.message-verbose {
    display:none;
}
</style>
}
<h2>Deploying @record.project build @record.build in @record.stage</h2>
<hr/>
<div class="content" data-ajax-refresh="@routes.Deployment.deployLogContent(record.uuid.toString)">
@snippets.deployLogContent(request, record, verbose)
</div>
<script>
  $(function() { ajaxRefresh.enable(); });
</script>
}