@(request: controllers.AuthenticatedRequest[AnyContent], deployForm: Form[controllers.DeployParameterForm])
@import helper.twitterBootstrap._

@main("Frontend Article in CODE", request) {

    <h2>Frontend Article in CODE</h2>

    <h3>New Deploy</h3>

    @helper.form(action=routes.Deployment.processForm) {
        @helper.inputText(deployForm("build"))
        <input type="hidden" value='@deployForm("project").value' name="project" />
        <input type="hidden" value='@deployForm("stage").value' name="stage" />

        <div class="actions">
            <input type="submit" value="Deploy" class="btn btn-danger"> or
            <a href="@routes.Application.index()" class="btn">Cancel</a>
        </div>
    }

}