@(request: controllers.AuthenticatedRequest[AnyContent], releaseNotes: String)
@import conf.Configuration._

@main("Welcome", request) {
    
    <h2>Welcome to the Guardian deployment tool.</h2>

    @if(request.isAuthenticated && irc.isConfigured) {
        <div class="alert alert-info">Deployment information can also be seen in the @irc.channel IRC channel on @irc.host</div>

    }

    Documentation is <a href='@routes.Application.documentation(resource="")'>here</a>.

    @docs.MarkDown.toHtml(releaseNotes)

}