@(title: String, scripts: List[String] = Nil)(menuBar: Html, subNav: Html)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title | Riff Raff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href='@routes.Assets.at("stylesheets/bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.at("stylesheets/magenta.css")' rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js'></script>
    <script src='/assets/javascripts/moment.min.js'></script>
    <!-- routes used in AJAX functions -->
    <script src='@routes.Application.javascriptRoutes'></script>
    <script src='@routes.Assets.at("js/tooltips.min.js")'></script>
    <!-- page specific scripts -->
    @for(script <- scripts) {
        <script src='@routes.Assets.at("js/%s.min.js" format script)'></script>
    }
</head>
<body>

@menuBar

@subNav

<div class="container">
    @content
    <div>
        <hr/>
        <footer>
            <p>
                <a href="https://github.com/guardian/deploy">
                    <i>Riff Raff</i>
                </a> is part of <a href="http://www.grauniad.co.uk">The Grauniad's</a> deployment toolset.
                <br><small>I would like, if I may, to take you on a strange journey.</small>
            </p>
        </footer>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='@routes.Assets.at("javascripts/bootstrap.js")'></script>

</body>
</html>
