@import conf.Config
@(title: String, scripts: List[String] = Nil)(menuBar: Html, subNav: Html)(content: Html)(config: Config)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title | Riff Raff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("lib/jasny-bootstrap/css/jasny-bootstrap.min.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("stylesheets/bootstrap-slate.min.css")' rel="stylesheet" media="(prefers-color-scheme: dark)">
    <link href='@routes.Assets.versioned("stylesheets/magenta.css")' rel="stylesheet">
    <link href='@routes.Assets.versioned("lib/jquery-ui/jquery-ui.min.css")' rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
    <script src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
    <script src='@routes.Assets.versioned("lib/jquery-ui/jquery-ui.min.js")'></script>
    <script src='@routes.Assets.versioned("lib/momentjs/min/moment.min.js")'></script>
    <!-- routes used in AJAX functions -->
    <script src='@routes.Application.javascriptRoutes'></script>
    <script src='@routes.Assets.versioned("javascripts/tooltips.js")'></script>
    <!-- page specific scripts -->
    @for(script <- scripts) {
        <script src='@routes.Assets.versioned(s"javascripts/$script.js")'></script>
    }
</head>
<body>

@menuBar

@subNav

<div class="container">
    @content
    <div>
        <hr/>
        <footer>
            <p>
                <a href="https://github.com/guardian/deploy">
                    <i>Riff Raff</i>
                </a> is part of <a href="http://www.grauniad.co.uk/">The Grauniad's</a> deployment toolset.
                <br><small>I would like, if I may, to take you on a strange journey.</small><small class="pull-right">Build @config.version (started @config.startTimeString)</small>
            </p>
        </footer>
    </div>
</div>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>
<script src='@routes.Assets.versioned("lib/jasny-bootstrap/js/jasny-bootstrap.min.js")'></script>
<script src='@routes.Assets.versioned("javascripts/surprise.js")'></script>

</body>
</html>
