resources:
- name: riffraff-dataset
  type: bigquery.v2.dataset
  properties:
    location: europe-west2
    datasetReference:
      datasetId: riffraff_test
- name: test-table
  type: bigquery.v2.table
  metadata:
    dependsOn:
    - riffraff-dataset
  properties:
    datasetId: riffraff_test
    tableReference:
      tableId: banana
    schema:
      fields:
        - name: species
          type: string
        - name: plantation
          type: string
        - name: harvested
          type: date
        - name: quantity
          type: numeric
        - name: edible
          type: boolean
{% if properties['banana'] == true %}
- name: test-topic
  type: gcp-types/pubsub-v1:projects.topics
  properties:
    topic: riffraff-topic
- name: test-topic-2
  type: gcp-types/pubsub-v1:projects.topics
  properties:
    topic: riffraff-topic-2
{% endif %}
- name: riffraff-bucket
  type: storage.v1.bucket
  properties:
    location: europe-west2
    storageClass: STANDARD
    iamConfiguration:
      uniformBucketLevelAccess:
        enabled: True
    {% if properties['retentionInDays'] %}
    lifecycle:
      rule:
        - action:
            type: Delete
          condition:
            age: {{ properties['retentionInDays'] }}
    {% endif %}
- name: riffraff-bucket-2
  type: storage.v1.bucket
  properties:
    location: europe-west2
    storageClass: STANDARD
    iamConfiguration:
      uniformBucketLevelAccess:
        enabled: True
    {% if properties['retentionInDays'] %}
    lifecycle:
      rule:
        - action:
            type: Delete
          condition:
            age: {{ properties['retentionInDays'] }}
    {% endif %}