@import migration.dsl.interpreters._
@(responsess: List[List[PreviewResponse]])(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])

@main(s"Postgres Migration preview", request) {
  <h2>Migration preview</h2>

  <div class="content">
      <pre>
        @responsess.map { responses =>
          @responses.map {
            case DropTable(sql) => { 
              @sql 
            }
            case CreateTable(sql) => { 
              @sql 
            }
            case InsertValues(prelude, values) => {
              @prelude
              @values.map { value =>
                @value
              }
            }
          }
        }
      </pre>
  </div>
}