@import conf.Config
@import migration.dsl.interpreters._
@(responses: List[PreviewResponse])(config: Config, appMenu: Menu)(implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity])

@main(s"Postgres Migration preview", request) {
  <h2>Migration preview</h2>

  <div class="content">
      <pre>
        @responses.map {
          case DropTable(sql) => { 
            @sql 
          }
          case CreateTable(sql) => { 
            @sql 
          }
          case InsertValues(prelude, values) => {
            @prelude
            @values.map { value =>
              @value
            }
          }
          case Queries(qs) => { }
        }
      </pre>
  </div>
}(config, appMenu)