<configuration>

    <contextName>riff-raff</contextName>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/riff-raff.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/riff-raff.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date [%thread{10}] %-5level %logger{20} - %msg%n%xException{20}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="com.amazonaws.request" level="WARN" />

    <logger name="deployment" level="DEBUG" />
    <logger name="magenta.tasks" level="DEBUG" />
    <logger name="deployment.actors.DeployCoordinator" level="DEBUG" />
    <!--<logger name="deployment.TaskRunner" level="DEBUG" />-->
    <!--<logger name="ci" level="DEBUG" />-->
    <!--<logger name="utils.ScheduledAgent" level="DEBUG" />-->
    <logger name="persistence.PostgresDatastore" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="LOGFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
