@import magenta.input.All
@import magenta.input.DeploymentKeysSelector
@import conf.Config
@(config: Config, menu: Menu)(request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity],
        parameters: magenta.DeployParameters,
        previewId: String)

@main("Preview", request, List("auto-refresh", "checkbox-selection")) {

    <h3>Preview of deployments for @parameters.build.projectName</h3>

    <div>
        <div class="pull-left">
            <dl class="dl-horizontal">
                <dt>Project</dt><dd>@parameters.build.projectName</dd>
                <dt>Build</dt><dd>@parameters.build.id</dd>
                <dt>Stage</dt><dd>@parameters.stage.name</dd>
                @parameters.selector match {
                    case All => {}
                    case DeploymentKeysSelector(keys) => {
                        <dt>Deployment selections</dt><dd>@keys.map{ key => <div>@snippets.deploymentInstance(key)</div> }</dd>
                    }
                }
            </dl>
        </div>

        <div class="actions pull-right"><p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-checkbox-target=".task-selection" data-checkbox-state="true">
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Select all
                </button>
                <button type="button" class="btn btn-default" data-checkbox-target=".task-selection" data-checkbox-state="false">
                    <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Deselect all
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@routes.DeployController.deployConfig(parameters.build.projectName, parameters.build.id)">Configuration</a></li>
                        <li><a href="@routes.DeployController.deployFiles(parameters.build.projectName, parameters.build.id)">Files</a></li>
                    </ul>
                </div>
            </div>
        </p></div>
    </div>

    <div class="clearfix"></div>

    <div data-ajax-refresh="@routes.PreviewController.showTasks(previewId: String)">
@*         Loading is not included here as the api endpoint shows a loader every time it is polled until a final result is returned *@
        <div class="alert alert-danger error" style="display:none"><strong>An error occurred whilst fetching the preview</strong></div>
        <div class="content">@views.html.preview.yaml.loading(request, 0L)</div>
    </div>

}(config, menu)