@import views.html.helper.magenta.PreviewHelper
@import b3.inline.fieldConstructor
@import magenta.input.DeploymentKey
@*
We use checkedKeys here separately from the form as Play! forms do not deal well with repeated checkboxes. We could try
to make it fit in the Play idea of forms but it's far from trivial. Be warned!
*@
@(taskGraph: magenta.graph.Graph[(magenta.input.DeploymentKey, magenta.graph.DeploymentTasks)],
        form: Form[forms.DeployParameterForm], checkedKeys: List[magenta.input.DeploymentKey])(
 implicit request: Security.AuthenticatedRequest[AnyContent, com.gu.googleauth.UserIdentity], messages: Messages)

@b3.formCSRF(routes.DeployController.processForm) {
    @b3.hiddens(
        "project" -> form("project").value.get,
        "build" -> form("build").value.get,
        "stage" -> form("stage").value.get
    )
    @defining(form("totalKeyCount").value){ maybeCount =>
      @maybeCount match {
          case Some(count) => { @b3.hidden("totalKeyCount", count) }
          case None => {
              <div class="alert alert-info">
                  This preview shows only the subset of deployment tasks that would be executed. To see all tasks, <a href="@routes.PreviewController.preview(
                      form("project").value.get,
                      form("build").value.get,
                      form("stage").value.get,
                      None
                  )">reset your selections</a>.
              </div>
          }
      }
    }
    @for((key, deploymentTasks) <- taskGraph.toList) {
        <div class="deployment-target" id="@DeploymentKey.asString(key)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="pull-left">
                Tasks for @snippets.deploymentInstance(key)
            </h4>
                    <div class="pull-right preview-header-checkbox">
                        <span>
                            @b3.checkbox(
                                form("selectedKeys[]"),
                                'class -> "task-selection",
                                'value -> DeploymentKey.asString(key),
                                'checked -> checkedKeys.contains(key),
                                '_label -> Html("Run tasks")
                            )
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <ul class="magenta-list task-list">
                    @deploymentTasks.tasks.map { task =>
                        <li><span class="preview-task"><strong>@task.name</strong> @task.verbose</span></li>
                    }
                    </ul>
                </div>
                @defining(PreviewHelper.dependencies(taskGraph, (key, deploymentTasks))) { dependencies =>
                    <div class="panel-footer">
                        @if(dependencies.nonEmpty) {
                            @if(dependencies.size == 1) {
                                @for((depDeployment, depTasks) <- dependencies) {
                                    These tasks will start after the tasks in <a href="#@DeploymentKey.asString(depDeployment)">@snippets.deploymentInstance(depDeployment)</a>
                                    have completed.
                                }
                            } else {
                                These tasks will start after all tasks for these actions have completed:
                                <ul>
                                @for((depDeployment, depTasks) <- dependencies) {
                                    <li><a href="#@DeploymentKey.asString(depDeployment)">@snippets.deploymentInstance(depDeployment)</a></li>
                                }
                                </ul>
                            }
                        } else {
                            These tasks will start immediately as they do not depend on any other tasks completing.
                        }
                    </div>
                }
            </div>
        </div>

        <div class="ajax-refresh-disabled pull-left"></div>
    }
    <div class="actions">
        @b3.submit(
            'name -> "action",
            'value -> "preview",
            'class -> "btn btn-default"
        ){Preview with selections}
        @b3.submit(
            'name -> "action",
            'value -> "deploy",
            'class -> "btn btn-primary"
        ){Deploy}
        <a class="btn btn-danger" href="@routes.PreviewController.preview(
            form("project").value.get,
            form("build").value.get,
            form("stage").value.get,
            None
        )">Reset selection</a>
    </div>
}