@(request: controllers.AuthenticatedRequest[AnyContent], hookForm: Form[String])
@import helper.twitterBootstrap._

@main("Authorise a new user", request) {

    <h2>Authorise a new user</h2>
    <hr/>

    @helper.form(action=routes.Login.authSave()) {

        @helper.inputText(hookForm("email"), '_label -> "Email address of user", 'class -> "buildForm")
        <div class="actions">
            <button name="action" type="submit" value="save" class="btn btn-primary">Save</button> or
            <a href="@routes.Login.authList()" class="btn btn-warning">Cancel</a>
        </div>
    }
}