@(request: controllers.AuthenticatedRequest[AnyContent], error: Option[String] = None)

@main("Login", request) {
<div class="row-fluid">
    <div class="col-md-6">
        <h1>Login</h1>

        <p>Please click the button to login with your google account.</p>
    </div>
    <div class="col-md-6">
        @if(error.isDefined) {
        <div class="alert alert-error">
            <p>@error.get</p>
        </div>
        }

        <form action="@routes.Login.loginAction()" method="get">
            <input value="Log In" class="btn btn-primary" type="submit">
        </form>
    </div>

</div>
}