name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    permissions:
      contents: read

      # These permissions are required by guardian/actions-riff-raff...
      id-token: write # ...to exchange an OIDC JWT ID token for AWS credentials
      pull-requests: write #...to comment on PRs

    steps:
      - uses: actions/checkout@v4

      # We currently compile CoffeeScript via an SBT task.
      # There is no explicit frontend project, so no package.json.
      # Install Node to ensure the version is deterministic.
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - uses: guardian/setup-scala@v1

      # Seed the build number with last number from TeamCity.
      # This env var is used by the SBT build, and guardian/actions-riff-raff.
      # Set the value early, rather than `buildNumberOffset` in guardian/actions-riff-raff, to ensure each usage has the same number.
      # For some reason, it's not possible to mutate GITHUB_RUN_NUMBER, so set BUILD_NUMBER instead.
      - name: Set BUILD_NUMBER environment variable
        run: |
          LAST_TEAMCITY_BUILD=2360
          echo "BUILD_NUMBER=$(( $GITHUB_RUN_NUMBER + $LAST_TEAMCITY_BUILD ))" >> $GITHUB_ENV

      - name: build + test
        env:
          # The GitHub runner has 7GB of RAM, lets give 4GB to Java.
          # See https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources.
          JAVA_OPTS: -Xmx4g
        run: sbt clean scalafmtCheckAll scalafmtSbtCheck compile lib/test riffraff/test Universal/packageZipTarball

      - uses: guardian/actions-riff-raff@v4
        with:
          buildNumber: ${{ env.BUILD_NUMBER }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          projectName: tools::riffraff
          configPath: riff-raff/riff-raff.yaml
          contentDirectories: |
            riff-raff:
              - riff-raff/bootstrap.sh
              - riff-raff/target/universal/riff-raff.tgz
