# This action runs every day at 6 AM and on every push
# If the branch it's running on is main then it will run snyk monitor (reports vulnerabilities to snyk.io)
# Otherwise it will run snyk test
name: Snyk

on:
  schedule:
    - cron: '0 6 * * *'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  security:
    uses: guardian/.github/.github/workflows/sbt-node-snyk.yml@main
    with:
      SKIP_NODE: true
      ORG: guardian-devtools
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
